<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        {{>header}}
        <div class="about-content">
            <p>This site was created by Mariana Amaral. It uses data from <a class="mapbox" href="https://docs.mapbox.com/api/overview/">mapbox.com</a> and <a class="weatherstack" href="https://weatherstack.com/">weatherstack.com</a></p>
        </div>
        
        {{>footer}}   
    </body>
</html>