body {
    color: darkslate#333333;
    font-family: arial;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    max-width: 650px;
    margin-left: 120px;
}

.about-content {
    flex-grow: 1;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto; 
}

footer {
   color: #888888;
   border-top: 1px solid #eeeeee;
   margin-top: 16px;
   padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
    border: none;
    -webkit-box-shadow: 3px 15px 21px -3px rgba(176,196,222,0.41);
    -moz-box-shadow: 3px 15px 21px -3px rgba(176,196,222,0.41);
    box-shadow: 3px 15px 21px -3px rgba(176,196,222,0.41);
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.title {
    font-size: 44px;
    margin-bottom: 16px;
    text-align: center;
    font-family: cursive;
    color: #ADD8E6	;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

.mapbox {
    color: #4264fb;
    text-decoration: none;
}

.weatherstack {
    color: #2d5971;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background-color: #888888;
    color: #ffffff;
    padding: 8px;
}
